*{
    padding:0;
    margin:0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:60vh;
}
.card{
    padding:3rem 5rem;
    border:2px solid blue;
}

.input{
    margin-top:1.5rem;
}
.input input{
    width:100%;
    padding:.3rem .8rem;
    border-radius:3px;
    border:1px solid black;
}
.button{
    text-align: center;
}
#button{
    margin-top:1.5rem;
    width:5rem;
}
.result{
    text-align: center;
    margin-top:1rem;
    font-size:1.5rem;
}