*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #aa7e66,#feb47b);
}

.container{
    width: 600px;
    margin:100px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0,0,0,2);
} 

h1{
    text-align: center;
    color:#333;

}
.form-group{
    margin-bottom: 20px;
}

label{
    margin-top:20px;
    font-size:25px;
    display:block;
    margin-bottom: 5px;
    color:#333;
    font-weight: 600;
}

input[type="text"]{
    width:95%;
    padding:10px;
    font-size: 20px;
    border-radius: 4px;
    border:1px solid #ccc;
}

button{
    padding:10px 20px ;
    font-size: 20px;
    background-color: #aa7e66;
    border: none;
    outline:none;
    border-radius: 4px;
    color:#fff;
    cursor:pointer;
}

.result-container{
    display:none;
    margin-top:20px;
    background-color: #fff;
    padding:20px;
    border-radius: 4px;
    box-shadow: 0px 3px 6px rgba(0,0,0,2);

}

.result{
    margin-top: 10px;
}


.result p{
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.result-item{
    font-size:20px;
    margin-top:10px;
}

.result-item span{
    font-weight:600;
    text-decoration: underline;
    font-size:25px;
}